body
{
    background: aqua;
    height: 100vh;


}
.cuerpo
{
    background-color: beige;
    padding-top: 3vh;
    margin-left: 5px;
    margin-right: 5px;

    height: 100%;
    display: block;
    min-height: 100%;

}

.centrar
{
    text-align: center;
}

.contenedor
{
    display:block;
}

.centrar-imagen
{
    max-width: 100%;
    min-width: 100px;
}

.contenedor-flex
{
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  gaP:1%;
  flex: 1;
  margin-top:10%;
}

.contenedor-imagen
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gaP:1%;
    flex: 1;
}


.btnInicio
{
    width: 100%;
}

@media screen and (max-width: 767px) {
    .contenedor-flex {
        grid-template-columns: repeat(2, 1fr);
        
    }

    .item-flex {
        margin-bottom: 10px; /* Espaciado entre los elementos en dispositivos móviles */
    }
}



.item-flex
{
    display:contents;
    width: 100%;
    padding:2%;
}


a.disabled {
    pointer-events: none;
    cursor: default;
  } 

  .titulo_inicio
{
    font-size: 35px;
    text-emphasis: 200p;
    font-weight: bold;
}

.estilo_imagen_inicial
{
    width: 275px;
}

.estilo_titulo_ciclo
{
    color: #b8c2e9;
    font-size: xx-large;
}   

.justificar
{
    text-align: justify;
}

.padding-5
{
    padding-left: 5%;
    padding-right: 3%;
}

.fondo_pizarra
{
    background: url("../imagenes/pizarra.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}