/* Estilos para el botón */
.btn {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
}
/* Estilos para el modal */
.modal {
    display: none;
    position: relative;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    height: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.modal_margen
{
    display: block;
    padding-top: 1em;
    width: 100%;
    margin-left:0%;
    margin-right:0%;
    height: 99vh;
    background: #fff;
    animation: fadeIn 2s;
}

.aparecer
{
    animation: fadeIn 6s;
}


.close-modal
{
    position:absolute;
    top: 40px;
    right:145px;
    display: none;
}

.modal_feedback
{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #3498db;
    
}


.contenedor_feedback
{
  height: 200px;
  position: relative;
  border: 3px solid green;
}

.pregunta_item
{
    font-size: 1.5em;
    font-weight: 200;
    height: fit-content;
    padding-top: 6vh;
    padding-left: 5%;
    padding-right: 6%;
    padding-bottom: 7vh;
    color: white;
    text-align: justify;
    margin-left: 3%;
    margin-right: 3%;
}

.pregunta_numero
{
    text-decoration: underline;
    font-size: 2em;
    padding-top:3%;

}









.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }



  .boton-modal-color {
    display: inline-block;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: 2px solid #4CAF50;
    color: #4CAF50;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
    white-space: normal;
    height: 100%;
    line-height: 1.5;
}

.boton-modal-color:hover {
    background-color: #4CAF50;
    color: white;
    
}

  .button-container {
    width: 85%;
    height: auto;
    position: absolute;
    bottom: 0;
    }

    .body-botones {
        font-family: 'Arial', sans-serif;
            margin: 0;
            display: grid;
            grid-template-rows: 50% 50%; /* Dos filas de tamaño igual */
            grid-template-columns: repeat(2, 1fr);
            gap: 10px; /* Espaciado entre los elementos */
    }

    .grid-item {
        border: 1px solid #ccc;
        padding: 0px;
        text-align: center;
        
    }

.resultados
{
    padding-top:1%;
    margin-top: 1%;
}
    
.titulo-res
{
    font-size: 2em;
}

.results-tema
{
    font-size: 1.5em;
}

.separacion-botones
{
    display: flex;
    justify-content: space-between;
    margin-left: 3%;
    margin-right: 3%;
}
.alineacion_derecha
{
    order: 1;
}

.alineacion_izquierda
{
    order: 2;
}


.button-container .grid-item:nth-child(1) button {
    border: 2px solid yellow;
}

.button-container .grid-item:nth-child(2) button {
    border: 2px solid blue;
}

.button-container .grid-item:nth-child(3) button {
    border: 2px solid red;
}

.button-container .grid-item:nth-child(4) button {
    border: 2px solid green;   
}

.button-container .grid-item:nth-child(1) button:hover {
    background-color: yellow;
    color: white;    
}

.button-container .grid-item:nth-child(2) button:hover {
    background-color: blue;
    color: white;    
}
.button-container .grid-item:nth-child(3) button:hover {
    background-color: red;
    color: white;    
}
.button-container .grid-item:nth-child(4) button:hover {
    background-color: green;
    color: white;    
}



.mitad-derecha {
    position: fixed;
    top: 50%;
    right: 5%;
    transform: translate(0%, -50%);
    background-color: red;
    padding: 20px;
    border-radius: 50%;
    font-size: 2em;
    color: white;
    /* Otros estilos que desees aplicar */
}

.imagen-retro
{
    width: 100%;
}


.modal-cerrar
{
background-color: red;
position: absolute;
top: 0%;
right: 3%;


}

.modal-sgte-tema
{
    background-color: #3498db;
}

.modal-repetir-tema
{
    background-color: #3498db;
}

.opcionesRespueesta
{
    margin-top: 2%;
}

#temaModal
{
    padding-left: 0%;
}

.invisible{
    visibility: hidden;
}